#logo {
    height: auto;
    width: 400px;
    margin:10px;
    border: 2px solid rgb(211, 117, 198);
    border-radius: 10%;
    box-shadow: 0px 0px 10px black;
    padding: 1px;
}
ul {
    list-style: none;
    display: flex;
    
}
ul li {
        margin: 10px;
        font-size: 20px;
        display: inline-flex;
    
}
body {
    background-image:url(https://images-cdn.welcomesoftware.com/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==);
    background-attachment: fixed;
    background-size: cover;
    

}
.header {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    font-size: 60px;
    font-family:"Courgette", Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(211, 117, 198);
    align-items: center;
}
a {
    text-decoration: none;
    font-family:"Courgette", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
a:hover{
    opacity: 50%;
}

.content {
    display:block;
    margin:auto;
    padding: 1rem;
    margin-top: 2rem;
    width: max(70%,100px);
    border: 4px solid olive;
    text-align: center;
    
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
    overflow: hidden;
}
.indexphotos {
    max-width: 55%;
    max-height: 55%;
    margin: 10px 20px;
    border: 2px solid rgb(211, 117, 198);
    border-radius: 10%;
    padding: 1px;
}
h3 {
    font-family: "Courgette", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100px;
    color:rgb(151, 97, 158);
    margin-bottom: 65px;
    font-size: 20px;
}
