#logo {
    height: auto;
    width: 400px;
    margin:10px;
    border: 5px solid white;


}
body {
    background-image:url(https://images-cdn.welcomesoftware.com/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}
.header {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    font-size: 60px;
    font-family:"Courgette", Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(211, 117, 198);
    align-items: center;
}
.recipe {
    display: inline-block;
}
a {
    text-decoration: none;
}
.content {
    border: 1 solid white;
}