#logo {
    height: 200px;
    width: 200px;
}
body {
    background-image:url(https://images-cdn.welcomesoftware.com/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==);
    background-attachment: fixed;
}
.header {
    margin: auto;
    width: 50%;
    font-size: 60px;
    font-family:"Courgette", Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(211, 117, 198)
}
.Recipes {
    display: inline-block
}